# Normalize line endings
* text=auto
*.sh text eol=lf

# Treat common binary types
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.jar binary
*.keystore binary
*.jks binary
*.aab binary
*.apk binary
